<section class="text-center">
  <h2>Link shorting successful! Visit your website at
    <a href="http://localhost:3000/{{ shortNewUrl }}">http://localhost:3000/{{ shortNewUrl }}</a>
  </h2>
</section>